{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>{{ quiz.name }}</h2>
<div id="participantCounter">
  Participants: <span id="participantCount">--</span>
</div>

<button id="startQuizBtn" data-quiz-id="{{ quiz.id }}">Start Quiz</button>

<div id="quizContainer" style="display: none;">
  <h3 id="questionText"></h3>
  <input type="text" id="answerInput" placeholder="Type your answer here..." />
  <button id="submitAnswerBtn">Submit</button>

  <div id="timer">Time left: <span>--</span> seconds</div>
</div>

<div id="resultsContainer" style="display: none;">
  <h3>Results</h3>
  <p id="finalMessage"></p>
</div>

<script src="{% static 'js/quiz.js' %}">
</script>
{% endblock %}
